.row{
    margin-left: 20px;
    color: white;
    margin-top: 1rem;
}

.row__posters{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: all 450ms;
    z-index: 100;
    position: relative;
}

.row__poster:hover {
    transform: scale(1.08);
    /* cursor: pointer; */
} 

.row__posterLarge{
    max-height: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
}

.card{
    padding: 1px 1px 10px 1px !important;
    background-color: #212121 !important;
    /* background-color: red !important; */
    display: inline-block;
    /* width: 500px !important; */
    /* position: absolute !important; 
    opacity: 0; */
    /* margin-right: 300px !important; */
}

.h6{
    font-size: 13px;
    color: rgb(220, 219, 219);
}
.h6 span{
    font-size: 15px;
    color: white;
}

.iframe{
    height: 220px;
    width: 100%;
}

.card__buttons{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 10px 20px;
}

.card__buttons__left{
    display: flex;
}

.card__button{margin-right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__18{
    font-size: 13px;
    margin-left: 1rem;
    width: 35px;
    height: 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__button:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.star{
    margin-left: 0.5rem;
}

.green{
    color: rgb(4, 152, 4);
    font-weight: bold;
}

.red {
    color: red;
}

.youtube__video{
    z-index: 999;
}